{% extends "_extends/_index.html" %}
{% block _index__container %}
  <div id='change-password'>
    <fieldset class="form-group">
        <label>기존 비밀번호 입력 후 [ENTER]</label>
        <input type="password" class="form-control pwd" placeholder="기존 비밀번호를 입력해주세요" data-trigger="manual"i v-model="current_password" v-tooltip="current_password_tooltip" @change="checkPassword">
    </fieldset>
    <form class="pwd_form" method="POST" action="/manage/password/" style="display: none;" v-if="checkPassword===true">
        <fieldset class="form-group">
            <label>새로운 비밀번호</label>
            <input type="password" class="form-control npwd" name="new_pwd" placeholder="새로운 비밀번호를 입력해주세요">
        </fieldset>
        <fieldset class="pwd_form">
            <label>새로운 비밀번호 재입력</label>
            <input type="password" class="form-control npwda" name="new_pwda" placeholder="새로운 비밀번호를 다시 입력해주세요." data-trigger="manual" v-tooltip="new_password_tooltip">
        </fieldset>
        <button type="submit" class="btn btn-primary">제출</button>
    </form>
  </div>
{% endblock %}
{% block _index__script %}
    <script>

        var changed_npwda = false;
        $('.npwd').change(
            function(){
                if ($('.npwd').val() != $('.npwda').val() && changed_npwda) {
                    $('.npwda').attr('title', '비밀번호가 서로 다릅니다.');
                    $('.npwda').tooltip('show');
                }
                else {
                    $('.npwda').tooltip('hide');
                }
            }
        );
        
        $('.npwda').change(
            function(){
                changed_npwda = true;
                if ($('.npwd').val() != $('.npwda').val() ) {
                    $('.npwda').attr('title', '비밀번호가 서로 다릅니다.');
                    $('.npwda').tooltip('show');
                }
                else {
                    $('.npwda').tooltip('hide');
                }
            }
        );

      Vue.use(VTooltip)

      var app = new Vue({
        el: '#change-password',
        delimiters: ['[[',']]'],

        data: {
          current_password: '',
          new_password: '',
          new_password_repeat: '',
          current_password_tooltip: '',
          new_password_tooltip: ''
        },

        methods: {
          checkPassword: function() {
            return this.postData('/api/check_pwd', {'val': this.current_password})
              .then(response => (response.ok) ? true : function() {
                current_password_tooltip = 'no correct password'
                return false
              })
          },
          postData(url, data) {
            return fetch(url, {
              body: JSON.stringify(data),
              cache: 'no-cache',
              headers: {
                'content-type': 'application/json'
              },
              method: 'POST',
            })
          }
        }
      })
    </script>
{% endblock %}
